body{
	background-color: grey ;
}


.text-center{
	text-align: center;
}


.listItem{
	background-color: #b9b2b2;
	padding:10px;
	margin:1px;
	margin-bottom:5px;
	margin-left: 15px;
	border-radius: 5px;
}

.listTitle{
	    font-size: 30px;
}

.editStyle{
	float:right;
}

.card-header-color{
	background-color: #007bff;
}
.title-style{
	color: white;
	margin-left: 50%;
}